body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    
}
h1,
h2,
h3,
h4,
p,
ul {
    margin: 0;
    padding: 0;
}
img{
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.text-italic {
    font-style: italic;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    width: 1158px;
    margin: 0 auto;

}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

    .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #ccc;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}