.features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 0 15px;

}
.features-page{
    padding: 96px 0;
    max-width:1157.9px;
}

.features-list{
  display: flex;
  flex-direction: column;
  
  row-gap: 72px;
}

.features-item{
/* width: calc((100% - 3 * 24px) / 4); */
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.icon-features{
display: none;
align-items: center;
justify-content: center;
border-radius: 4px;
border: 1px solid #8E8F99;
background-color: #F4F4FD ;
height: 112px;
/* margin-bottom: 8px; */

}

.features-title{
font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
margin-bottom: 8px;


}
.features-text{
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: var(--slate);

}

@media screen and (min-width: 768px){
 .features{
  min-width: 768px;
 margin-right: 120px;
  }

  .features-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: start;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
}
  @media screen and (min-width: 1158px){
.features{
  min-width: 1158px;
}

.features-item {
 width: calc((100% - 3 * 24px) / 4);
}
.icon-features{
display: flex;
width: 264px;
height: 112px;
}
.features-title {
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
text-align: start;
}
.features-text {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
}

  }